In [1]:
pip install scikit-learn pandas matplotlib numpy

Requirement already satisfied: scikit-learn in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (1.7.1)
Requirement already satisfied: pandas in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (2.3.2)
Requirement already satisfied: matplotlib in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (3.10.6)
Requirement already satisfied: numpy in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (2.3.1)
Requirement already satisfied: scipy>=1.8.0 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from scikit-learn) (1.16.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from scikit-learn) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: six>=1.5 in c:\users\bejar\anaconda3\envs\week2\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv(r"C:\Users\bejar\OneDrive\Desktop\US_Accidents_March23.csv", sep=",")

In [5]:
df.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,...,False,False,False,False,True,False,Day,Day,Day,Day

In [6]:
print(df.isnull())

            ID  Source  Severity  Start_Time  End_Time  Start_Lat  Start_Lng  \
0        False   False     False       False     False      False      False
1        False   False     False       False     False      False      False
2        False   False     False       False     False      False      False
3        False   False     False       False     False      False      False
4        False   False     False       False     False      False      False
...        ...     ...       ...         ...       ...        ...        ...
7728389  False   False     False       False     False      False      False
7728390  False   False     False       False     False      False      False
7728391  False   False     False       False     False      False      False
7728392  False   False     False       False     False      False      False
7728393  False   False     False       False     False      False      False

         End_Lat  End_Lng  Distance(mi)  ...  Roundabout  Station   Stop  \
0           True     True         False  ...       False    False  False
1           True     True         False  ...       False    False  False
2           True     True         False  ...       False    False  False
3           True     True         False  ...       False    False  False
4           True     True         False  ...       False    False  False
...          ...      ...           ...  ...         ...      ...    ...
7728389    False    False         False  ...       False    False  False
7728390    False    False         False  ...       False    False  False
7728391    False    False         False  ...       False    False  False
7728392    False    False         False  ...       False    False  False
7728393    False    False         False  ...       False    False  False

         Traffic_Calming  Traffic_Signal  Turning_Loop  Sunrise_Sunset  \
0                  False           False         False           False
1                  False           False         False           False
2                  False           False         False           False
3                  False           False         False           False
4                  False           False         False           False
...                  ...             ...           ...             ...
7728389            False           False         False           False
7728390            False           False         False           False
7728391            False           False         False           False
7728392            False           False         False           False
7728393            False           False         False           False

         Civil_Twilight  Nautical_Twilight  Astronomical_Twilight
0                 False              False                  False
1                 False              False                  False
2                 False              False                  False
3                 False              False                  False
4                 False              False                  False
...                 ...                ...                    ...
7728389           False              False                  False
7728390           False              False                  False
7728391           False              False                  False
7728392           False              False                  False
7728393           False              False                  False

[7728394 rows x 46 columns]

In [7]:
print(df.isnull().sum())

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB
None

In [9]:
print(df.isnull().sum().sum())

12840498

In [17]:
for col in ['Temperature(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Speed(mph)']:
    df[col] = df[col].fillna(df[col].mean())

In [18]:
for col in ['Street', 'City', 'Zipcode', 'Timezone', 'Airport_Code', 'Wind_Direction', 'Weather_Condition']:
    df[col] = df[col].fillna(df[col].mode()[0])

In [19]:
df['Weather_Timestamp'] = df['Weather_Timestamp'].fillna(df['Start_Time'])

In [20]:
print(df.isnull().sum())

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                         0
City                           0
County                         0
State                          0
Zipcode                        0
Country                        0
Timezone                       0
Airport_Code                   0
Weather_Timestamp              0
Temperature(F)                 0
Wind_Chill(F)            1999019
Humidity(%)                    0
Pressure(in)                   0
Visibility(mi)                 0
Wind_Direction                 0
Wind_Speed(mph)                0
Precipitation(in)        2203586
Weather_Condition              0
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [22]:
df = df.drop(['End_Lat', 'End_Lng', 'Wind_Chill(F)', 'Precipitation(in)'], axis=1)

In [23]:
for col in ['Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']:
    df[col] = df[col].fillna(df[col].mode()[0])

In [24]:
df['Description'] = df['Description'].fillna('Unknown')

In [25]:
print(df.isnull().sum())

ID                       0
Source                   0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Description              0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Country                  0
Timezone                 0
Airport_Code             0
Weather_Timestamp        0
Temperature(F)           0
Humidity(%)              0
Pressure(in)             0
Visibility(mi)           0
Wind_Direction           0
Wind_Speed(mph)          0
Weather_Condition        0
Amenity                  0
Bump                     0
Crossing                 0
Give_Way                 0
Junction                 0
No_Exit                  0
Railway                  0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64